.card-title {
  padding-left: 16px;
  height: 60px;
  padding-top: 15px;
}

.total-sum-container {
   border-top: 1px solid #d4d3d3;
  height: 50px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 15px;
  background-color: #f7f7f7;
}

.total-sum-container.green {
  color: green;
}

.total-sum-container.red {
  color: red;
}

.record-sum {
  font-size: 20px;
  font-weight: bold;
}

.record-sum-label {
  color: black;
  font-weight: bold;
}
